<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% if item.photos.size > 1 %}
        <div class="relative glider-contain">
          <div class="overflow-x-hidden glider" glider>
            {% for p in item.photos limit: 5 %}
              <div><img alt="{{ item.name }}" src="{{ p.photo.versions.uncropped }}" class="object-cover w-full"></div>
            {% endfor %}
          </div>

          <button role="button" aria-label="Previous" class="left-0 glider-prev">
            <svg viewBox="0 0 16 16" class="w-full" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
          </button>

          <button role="button" aria-label="Next" class="right-0 glider-next">
            <svg viewBox="0 0 16 16" class="w-10 h-10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>

          <div role="tablist" class="py-4 glider-dots"></div>
        </div>
      {% else %}
        {% function cover_url = 'theme/futurelife/dashboard/items/cover_url', item: item %}
        <img alt="{{ item.name }}" class="object-center w-full rounded" src="{{ cover_url }}">
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2 class="text-sm tracking-widest ">
        {% render 'theme/futurelife/business_card', user: item.owner, current_profile: current_profile %}
      </h2>
      <h1 class="mb-1 text-2xl">
        {{ item.name }}
      </h1>
      <div class="d-flex flex-wrap mb-4">
        <ul class="d-flex categories">
          <li><span class="font-semibold">category: </span></li>
          <li class="ml-2"><a href="{% render 'link_to', category: item.category %}">{{ item.category }}</a></li>
        </ul>
      </div>
      <p class="mt-4">{{ item.description }}</p>
      <div class="d-flex mt-4">
        <span class="text-2xl text-gray-900 ">{{ item.price | pricify_cents }}</span>
        <form action="#" method="post" class="ml-auto ">
          {% render 'authenticity_token', authenticity_token: authenticity_token %}
          <input type="hidden" name="line_item[item_id]" value="{{ item.id }}">
          <input type="hidden" name="line_item[quantity]" value="1">
          <button id="buybutton" class="btn btn-secondary">
            Buy for <span class="text-2xl text-gray-900 ">{{ item.price | pricify_cents }}</span>
          </button>
          {% if item.line_items.size > 0 %}
            <div>{% print 'app.items.ordered_times' | t: count: item.line_items.size %}</div>
          {% endif %}
        </form>
      </div>
      {%- if item.owner.id == current_profile.id and item.line_items.size < 1 %}
        <p class="py-4 mt-4 border-t border-blue-300">Item Administration</p>
        <span class="d-flex">
          <a href="/dashboard/items/edit?id={{ item.id }}" class="btn btn-primary">Edit</a>
        <form action="/dashboard/items/delete" method="post" class="ml-2"
          onSubmit="if(!confirm('Are you sure you want to delete this item?)){ return false; }"
        >
          {% render 'authenticity_token', authenticity_token: authenticity_token %}
          <input type="hidden" name="id" value="{{ item.id }}">

          <button id="deletebutton" class="btn btn-danger">Delete</button>
        </form>
      </span>
      {%- endif %}
    </div>
  </div>
</div>